body {
    background-color: #AAD4CF;
    margin: 0 10%;
}

/* Styling for the main wrapper that contains all content */
.wrapper {
    background-color: #D4E9E7;
}

/* Header styles to control the spacing between the navigation bar and the header itself */
.wrapper h1 {
    text-align: center;
    z-index: 1;
    top: 1;
    margin-top: -10%;
    padding-bottom: 3.2%;
    font-size: 45px;
    color: white;
}

/* Styles for the header image */
.wrapper .starfish-header {
    width: 100%;
    height: 250px;
}

/* Main content styling */
.main {
    padding: 10px;
}

/* Navigation bar styles */
.navbar ul {
    list-style: none;
    background-color: #D4E9E7;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-transform: uppercase;
}

/* Controls the positioning of navigation bar elements */
.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    text-align: center;
    width: 90%;
}

/* Adds a change of color when hovering over navigation bar elements */
.navbar a:hover {
    background-color: azure;
}

/* Styling for borders between navigation items to create lines that separate them */
.navbar li:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
}

/* Makes navigation items symmetrical */
.navbar li {
    display: inline-block;
    text-align: center;
    min-width: 33%;
}

/* Styles the image so that text wraps around it */
.starfish-image {
    height: 200px;
    width: 200px;
    float: left;
    clear: both;
    margin-right: 10px;
}

/* Aligns the bullet points with heading */
.facts ul {
    padding-left: 20px;
}

/* Add Styles to Form */
form {
    border: 1px solid black;
    padding: 20px;
}

/* Controls the space elements take up on the page */
input,
textarea {
    border: 0px;
    width: 100%;
    margin: 5px 0;
}

/* Controls the spacing between form fields */
.form-field {
    margin: 10px 0;
}

/* "Send" Button styles within forms */
form button {
    background-color: transparent;
    border: 1px solid black;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
}

/* Positions options elements in one line*/
.options input {
    width: 10px;
    display: inline;
}
/* Footer styles, aligns text to the right and adds padding so that it's moved to the left a bit */
footer {
    text-align: right;
    padding: 10px;
}