
:root {
    --primary-color: #C78B07;
    --secondary-color: #222222;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    max-width: 1200px;
}

.navbar {
    background-color: var(--secondary-color);

}

.navbar ul {
    list-style: none;
    color: var(--primary-color);
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    padding: 15px;
}

.navbar a:any-link {
    color: var(--primary-color);
    text-decoration: none;
}

.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* margin: 15px; */
}

.active a:any-link {
    color: var(--secondary-color);
}

.active h1 {
    text-align: left;
}

.navbar form {
    display: flex;
    align-items: center;
}

.navbar input {
    width: 90%;
    height: 2rem;
    margin: 0 0 10px 10px;
}

.navbar button {
    font-size: 20px;
    width: 5.99%;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px var(--primary-color) solid;
    padding: 10px;
    height: 2.4rem;
    margin-bottom: 9px;
}

/* welcome block */

.welcome {
    background-image: url(../images/main-banner.jpg);
    max-height: 80vh;
    display: flex;
    align-items: center;
    background-size: cover;
}

.welcome-trans {
    background-color: #0000009f;
    padding: 30px 10px 20px 10px;
}

.welcome-trans h2 {
    color: white;
    font-size: 4.6rem;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 10px;
}

.welcome-trans p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 10px;
}

.welcome-trans button {
    background-color: var(--primary-color);
    padding: 30px;
    font-size: 1.5rem;
    margin-left: 10px;
}

/* about-us block */

.about-us-wrapper {
    background-color: #FFE6AC;
    min-height: 80vh;
    /* adjust*/
    padding-top: 10px;
}

.about-us-text {
    padding: 20px;
}

.about-us-text p {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
}

.about-us-text h2 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 20px;
}

.about-us-image {
    background-image: url(../images/about-us.jpg);
    margin: 0 20px 0 20px;
    max-height: 600px;
    min-height: 300px;
    background-size: cover;
    padding-top: 10px;
}

.image-size {
    max-width: 100%;
    min-height: 80vh;
}

/* services block */

.digital-image {
    background-image: url(../images/digital.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.services {
    margin: 10px;
}

.services-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services-wrapper button {
    background-color: var(--secondary-color);
    padding: 30px;
    margin: 15px 0;
    color: white;
    font-size: 1.5rem;
}

.services-wrapper button i {
    margin: 10px;
}

.services-big, .services-small {
    background-color: rgb(255, 230, 172);
}

/* Adding properties and values so that all the biege blocks are of the same settings */

.biege-content {
    padding-left: 15px;
}

.biege-content p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

.biege-content h2 {
    font-size: 2rem;
    font-weight: 800;
}

.services-heading {
    font-size: 3rem;
    margin: 0;
    margin-top: 30px;
    margin-left: 10px;
}

.marketing-image {
    background-image: url(../images/marketing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-image {
    background-image: url(../images/video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.web-image {
    background-image: url(../images/web.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.print-image {
    background-image: url(../images/print.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.services-box-small {
    background-color: rgb(255, 230, 172);
}

.services-small {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* vision block */
.vision {
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px 10px 0 10px;
    margin: 10px;
}

.vision h2 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin: 10px 0;
}

.vision p {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.vision button {
    background-color: #112640;
    padding: 30px;
    margin: 15px 0;
    color: white;
    font-size: 1.5rem;
    border: 1px solid var(--primary-color);
}

.vision button i {
    margin: 10px;
}

/* team members block */

.team {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}

.team p {
    margin: 0;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 500;
}

.team h3 {
    font-size: 1.2rem;
    font-weight: 800;
    border-bottom: #C78B07 solid 2px;
    margin-top: 0;
}

.bob .biege-content h2, .john .biege-content h2 {
    margin-bottom: 0px !important;
}

.john, .bob {
    background-color: rgb(255, 230, 172);
}

.bob-image {
    background-image: url(../images/bob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.john-image {
    background-image: url(../images/john.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* search block */

.contact {
    margin: 10px;
}

input{
    border: 1px solid;
    width: 100%;
    height: 30px;
    margin: 5px 0;
}

.form-field {
    margin: 10px 0;
}

/* table block*/

td, th {
    margin: 0;
    padding: 10px;
    font-size: 1rem;
}

table {
    min-width: 100%;
    border-spacing: 0px;
}

th {
    background-color: rgb(255, 230, 172);
    font-weight: 400;
}

/* map block */

.contact-wrapper {
    padding: 10px;
}

iframe {
    width: 100%;
    min-height: 450px;
}

/* footer block */

footer {
    background-color: var(--secondary-color);
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px ;
    min-width: 100%;
}

footer p {
    color: var(--primary-color);
    font-size: 1rem;
}

@media (min-width: 760px) {

    html {
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0;
        margin: 0;
    }

    .wrapper {
        max-width: 100vw;
    }



    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1200px;
    }

    header {
        background-color:#222222;
        display: flex;
        justify-content: center;
    }
    
    .welcome {
        display: flex;
        justify-content: center;
    }

    .about-us-image {
        width: 600px !important;
        height: 250px !important;
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 0;
        margin-left: 85px;
    }

    .about-us-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 300px;
        padding-bottom: 30px;
    }

    .about-us-text {
        max-width: 600px;
        margin-right: 70px;
    }

    .welcome-trans {
        max-width: 1200px;
    }

    .navbar ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .navbar ul li {
        padding: 20px 40px;
    }

    .logo {
        margin-right: 45px; 
    }

    .services-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .services-wrapper-big {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10px;
    }

    .services-wrapper-small {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .image-size {
        max-width: 100%;
        min-height: 30vh;
    }

    .image-size-desktop {
        min-height: 55vh;
    }

    .services-small {
        max-width: 380px;
    }


}

